# LLM Configuration
# Opções: ollama, gemini
LLM_PROVIDER=ollama
# Para ollama: llama3.2:3b
# Para gemini: gemini-1.5-flash
LLM_MODEL=llama3.2:3b
TEMPERATURE=0.6
OLLAMA_BASE_URL=http://localhost:11434

# Gemini API Key (Apenas se LLM_PROVIDER=gemini)
GOOGLE_API_KEY=your_api_key_here

# Hardware/WakeWord
WAKE_WORD=nova
