OPENAI_API_KEY=sua-chave-aqui
OUTRA_CHAVE=outra-chave-aqui
OLLAMA_API_KEY=sua-chave-ollama-aqui
GOOGLE_API_KEY=sua-chave-aqui
TAVILY_API_KEY=sua-chave-aqui



PROVEDOR=ollama
MODEL_LLM=llama3.2:3B
MODEL_EMBENDDING=nomic-embed-text:latest
BASE_URL=http://localhost/